@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue-color: #0477BF;
  --pink-color: #0477BF;
  --blue-color: #0477BF;
  --blue-color: #0477BF;
}

body{
  @apply text-sm;
}


#rain-bow{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  height: 2px;
  animation: progress .5s forwards;
  background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
  );
}

@keyframes progress {  
  0%{
    width: 0;
  }
  
  99%{
    width: 100vw;
  }
  100%{
    display: none;
  }
}