.wrapper{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 900px;
  background-color: white;
  padding: 25px 15px;
  display: flex;
  border-radius: 5px;
  gap: 20px;
  transition: .5s all;
}

.wrapper:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.05);
}

@media only screen and (max-width: 800px) {
  .wrapper{
    gap: 0;
  }
  .wrapper img{
    display: none;
  }
}