@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.input-1{
  @apply border text-stone-400 focus:text-primary border-stone-400 focus:border-primary outline-0 rounded-sm p-2 w-full
}

.input-2{
  @apply border text-stone-500 focus:text-stone-800 border-stone-500 focus:border-stone-800 outline-0 rounded-sm p-2 w-full focus:shadow-md focus:scale-[1.005] duration-100 
}

.button-1{
  @apply bg-blue-500 px-1 py-2 rounded-sm text-white flex items-center gap-1 text-xs
}

.button-2{
  @apply bg-gray-500 px-1 py-2 rounded-sm text-white flex items-center gap-1 text-xs
}

.button-3{
  @apply bg-red-500 px-1 py-2 rounded-sm text-white flex items-center gap-1 text-xs
}

.button-4{
  @apply bg-gray-500 px-1 py-2 rounded-sm text-white flex items-center gap-1 text-xs
}

.label-1{
  @apply block mb-1 font-semibold
}

.link-1{
  @apply text-xs text-gray-400 hover:text-gray-700
}

.link-2{
  @apply text-sm text-stone-700 hover:text-stone-900 hover:underline
}

.font-1{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.tabel-1{
  @apply w-full
}

.tabel-1 th, .tabel-1 td{
  @apply border text-center p-2
}

.tabel-1 td a{
  @apply text-blue-500 underline font-semibold hover:text-blue-700
}

.tabel-2{
  @apply w-full rounded-md overflow-hidden text-black
}

.tabel-2 th{
  @apply bg-stone-900 text-stone-100
}

.tabel-2 th, .tabel-2 td{
  @apply text-center p-2
}

.tabel-2 tr:nth-child(odd){
  @apply bg-gray-100 
}

.tabel-2 tr:nth-child(even){
  @apply bg-gray-50
}

.tabel-2 td a{
  @apply text-blue-500 underline font-semibold hover:text-blue-700
}


#rain-bow{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  height: 2px;
  animation: progress .5s forwards;
  background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
  );
}